@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #000000;
  --foreground: #aa1439;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #aa1439;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--foreground);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--background);
  font-family: 'Montserrat', "Roboto Flex" , 'Poppins', 'sans-serif !important';
  overflow-x: hidden !important;
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* For WebKit browsers */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}

