.menu li a{
    transition: all .1s linear;
}

nav{
    border-bottom: 1px solid #484848;
}

.footer-about-desc{
    color: #b4b4b4;
}

.dropdown{
    transition: all .3s ease-in-out;
}

.dropdown-link:hover .dropdown{
    /* top: 170% !important;/ */
    visibility: visible !important;
    opacity: 1 !important;
}

.fade{
    background-color: rgba(0, 0, 0, 0.5);
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #000; /* Optional background for contrast */
  }
  
  .marquee {
    display: flex;
    animation: slide 15s linear infinite;
    white-space: nowrap;
  }
  
  .tag {
    flex-shrink: 0;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none;  /* for Internet Explorer 10+ */
    scrollbar-width: none;      /* for Firefox */
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  